$base-font-size: 16px !default;

// Screen breakpoints
// ==============================
$screen-xxs: 20em;
$screen-xs: 30rem;
$screen-sm: 48rem;
$screen-md: 64rem;
$screen-lg: 75rem;
$screen-xlg: 80rem;

$transition-time: .15s;
