$base-font-size: 16px !default;

// Screen breakpoints
// ==============================
$screen-sm: 40em;
$screen-md: 64em;
$screen-lg: 90em;
$screen-xl: 120em;

// Grid settings
// ==============================
$grid-width: em(1200px);
$grid-gutter: em(32px);
$grid-columns: 12;
